//colors
$primary-orange: hsl(25, 84%, 52%);
$seat-selected: #8dd7cf;
$seat-available: #c3cfd9;
$seat-unavailable: #fbe192;
$sucess-green: #247a6b;

$bg--desktop: hsl(260, 18%, 10%);
$bg--light: #f5f4f3;
$bg--dark: #272b38;

$text--light: #242d30;
$text--dark: #e8e4e0;

$hover--light: transparentize(#b45139, 0.9);
$hover--dark: transparentize(#fff, 0.9);

$border--light: darken(lighten($bg--light, 1%), 10%);
$border--dark: lighten($bg--dark, 10%);

$app-width: clamp(100px, 100vw, 450px);
$header-heigth: 67px;
$footer-height: 15vh;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$font-family: 'Roboto', sans-serif;

//mixins

@mixin w-h($w: 100%, $h: 100%) {
	width: $w;
	height: $h;
}

@mixin flex-center() {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex($direction: row, $justify: center, $align: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin main-button() {
	background-color: $primary-orange;
	color: $text--dark;
	font-size: 18px;
	font-weight: 700;
	margin: 1vh 5px;
	border: none;
	border-radius: 3px;
}

@mixin scroll-bar() {
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background: #201c29;
		border-radius: 10px;
		box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
			inset -2px -2px 2px rgba(0, 0, 0, 0.25);
	}

	&::-webkit-scrollbar-track {
		background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
	}
}

@mixin seat($color: #c3cfd9) {
	background: $color;
	@include w-h(5vh, 5vh);
	border: 1px solid darken($color, 30);
	border-radius: 50%;
	color: #000;
}
