@use './settings' as _;

.theme-dark {
	background: _.$bg--dark;
	color: _.$text--dark;
}

.theme-light {
	background-color: _.$bg--light;
	color: _.$text--light;
}

.header-dark {
	background: lighten(_.$bg--dark, 10);
}

.header-light {
	background: _.$bg--dark;
}
