@use '../../styles/settings' as _;
@use '../../styles/themes';

.App {
	width: _.$app-width;
	height: 100vh;
	@include _.scroll-bar;

	@media (min-width: 430px) {
		border-radius: 15px;
		border: none;
		overflow-x: hidden;
	}
}

header {
	@include _.flex-center;
	@include _.w-h(_.$app-width, _.$header-heigth);
	position: fixed;
	top: 0;
	z-index: 1;
	background: lighten(_.$bg--dark, 10);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;

	h1 {
		color: _.$primary-orange;

		&:hover {
			cursor: pointer;
			transform: scale(1.01);
		}
	}

	.Return {
		position: absolute;
		left: 30px;
		transform: scale(2);
		color: darken(_.$text--dark, 20);
		cursor: pointer;
	}
}

@media (min-width: 400px) {
	.title {
		margin-top: 10vh;
	}
}
